{% extends "base.html.twig" %}
{% set sidebar = "yes" %}
{% set shortcuts = "yes" %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div data-controller="nice-loading-card" class="card">
                <div class="card-content">
                    <div class="user-card-title row noMarginBottom valign-wrapper">
                        <span>{{partido.siglas}}</span>
                        <img class="responsive-img user-card-photo" src="{{ url("partido_foto", {"id":partido.id}) }}" alt="Foto de perfil">
                    </div>
                    <form id="partido-form" action="/admin/partidos/nuevo" method="POST" class="row noMarginButton">{{form_widget(form)}}</form>
                </div>
                <div class="card-action right-align">
                    <button type="submit" form="partido-form" class="btn"><i class="material-icons">save</i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}