@import "../../node_modules/@materializecss/materialize/sass/materialize.scss";
body {
    background-color: lightgray;
}

.absolutCenter {
    display: flex;
    height: 100svh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0!important;
    div.col {
        margin: 0 !important;
    }
}

form.row {
    margin-bottom: 0 !important;
}

.animationFromTopSlide {
    animation: fromTopSlide 750ms ease-out ;
}

.animationTelevisionOff {
    overflow: hidden;
    animation: televisionOff 500ms cubic-bezier(.71,-0.61,.41,1.73) forwards;
}
.animationTelevisionOn {
    overflow: hidden;
    animation: televisionOn 500ms cubic-bezier(.71,-0.61,.41,1.73) forwards;
}

@keyframes fromTopSlide {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes televisionOff {
    0% {
        opacity: 1;
    }
    85% {
        opacity: 0;
        height: 0;
        visibility: hidden;
    }
    100% {
        position: absolute;
        opacity: 0;
        height: 0;
        visibility: hidden;
    }
}

@keyframes televisionOn {
    0% {
        position: absolute;
        opacity: 0;
        height: 0;
        visibility: hidden;
    }
    15% {
        opacity: 0;
        height: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
    }
}
.card-action {
    padding: 5px 24px !important;
}