.tooltipped {
    position: relative;
    &::after {
        font-family: "Material Icons";
        content: "info";
        display: inline-block;
        position: absolute;
        right: 0;
        margin: 0 auto;
    }
}